
.hero {
    text-align: center;
}
.spotifyText{
    text-align: left;
    padding-bottom: 1.5%;
    font-size: 18px;
}
.field {
    width: 25%;
}
.subtitle-2 {
    margin-top: 5%;
    font-size: 24px;
}
.title {
    font-size: 65px;
}
.title-2 {
    font-size: 45px;
}
.buttons {
    padding-top: 2.5%;
}